@import "../../_variables";

.payment {
  background: $btn-gradient;
  border: none;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  padding: 21px 21px;
}
