@import "../../_variables";

.homescreen {
  background-image: url("../static/images/bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}
