@import "../../_variables";

.header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  position: relative;
  z-index: 2;
  &__nav-block {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 40px;
  }
  &__link {
    color: $text-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__action-link {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
