@import "../../_variables";

.login-btn {
  width: 150px;
  cursor: pointer;
  background: $accent-color;
  padding: 22px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  &:hover {
    background: $btn-gradient-hover;
    transition: all 0.4s ease;
  }
}
