@import "../../_variables";

.membership-card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 120px;
  &__card {
    background: rgb(255 255 255 / 5%);
    width: 400px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding-bottom: 50px;
  }
  &__subtitle {
    font-size: 30px;
    line-height: 34px;
    padding: 50px 70px 0 70px;
    margin: 0 0 50px 0;
  }
  &__price-box {
    background: rgb(255 255 255 / 5%);
    padding: 70px;
  }
  &__price {
    font-size: 40px;
    line-height: 44px;
    color: $accent-color;
  }
  &__description {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0 0 0;
  }
  &__list {
    margin: 0;
    padding: 50px;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      position: relative;
      margin: 0 0 25px 0;
      padding: 0 0 25px 0;
      border-bottom: 1px solid $accent-color;
    }
  }
}
