$accent-color: #9eff8e;
$btn-gradient: linear-gradient(
  180deg,
  rgba(158, 255, 142, 1) 0%,
  rgba(142, 251, 124, 1) 100%
);
$text-color: white;
$btn-gradient-hover: linear-gradient(
  180deg,
  rgba(220, 255, 214, 1) 0%,
  rgba(181, 255, 169, 1) 100%
);
